main {
    display: grid;
    grid-template-columns: lfr lfr;
    grid-template-areas: "chat alerts";
}

section.chat {
    grid-area: chat;
}

section.alerts {
    grid-area: alerts;
}

.tab-row {
    padding-top: 20px;
}

.tab-btn.active{
    background: darkblue;
    color: white;
}